  @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Secular+One&display=swap');

body{
  padding:0;
  margin:0;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Jost', sans-sans-serif;
  height:auto;
}

p{
  text-indent: 16px;
  text-align: justify;
}

img{
  height: auto;
}

ul, li{
  padding: 0;
  margin: 0;
}

section{
  overflow-y: hidden;
}
